<section class="font-generic flex justify-center">
    <div class="w-[80vw]">
        <h2 class="font-titles font-bold text-xl md:text-2xl mb-8">Pourquoi choisir Worksphere ?</h2>
        <div class=" flex flex-wrap md:no-wrap justify-between gap-2">
            <app-card-component title="Productivité maximale"
                description="Un espace de travail optimisé sans distractions."
                imageUrl="/images/image-1.jpg"></app-card-component>
            <app-card-component title="Productivité maximale"
                description="Un espace de travail optimisé sans distractions."
                imageUrl="/images/image-2.jpg"></app-card-component>
            <app-card-component title="Productivité maximale"
                description="Un espace de travail optimisé sans distractions."
                imageUrl="/images/image-3.jpg"></app-card-component>
            <app-card-component title="Productivité maximale"
                description="Un espace de travail optimisé sans distractions."
                imageUrl="/images/image-4.jpg"></app-card-component>
        </div>
    </div>
</section>